.form-lead_theme-1{
	display: block;
	max-width: 600px;
	background-color: white;
	padding: 20px;
	margin: 0px auto;
}

.form-lead_theme-1 .lead-title{
	color: #333;
	text-align: center;
	font-size: 22px;
	margin-top: 30px;
}

.form-lead_theme-1 #email, .form-lead_theme-1 #name{
	width: 100%;
	height: 40px;
}
.form-lead_theme-1 label{
	margin-top: 10px;
}
.form-lead_theme-1 button{
	margin-top: 20px;
}
